// Specific CSS for your home-page
.banner {
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://res.cloudinary.com/dmm02pvmw/image/upload/v1667933518/banner_ytrevy.webp");
  background-size: cover;
  background-position: center;
  h2 {
    color: white;
  font-weight: bold;
  font-size: 45px;
  }
  .btn {
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 15px;
    font-weight: lighter;
    color: white;
  }
}
.header {
  text-align: center;
  margin-top: 20px;
}
