  <div class="banner text-center">
    <div>
      <p style="color: #FAF9E3FF; text-shadow: 1px 1px #1C1B02FF; font-style: italic; font-size: 1.5em; height: 1em;"><span data-controller="typed"></span></p>
    </div>
    <%= link_to "Browse all books",  books_path, class:'btn' %>
  </div>

  <div class="header">
    <h2> Books of the Week</h2>
  </div>
  <div class="cards-wrapper">
      <% @books.each do |book| %>
        <%= render 'books/book_card', book: book %>
      <% end %>
  </div>
