  <div class="banner text-center">
    <h2>Books, books,  <span data-controller="typed">books</span></h2>
    <%= link_to "Browse all books",  books_path, class:'btn btn-success' %>
  </div>

   <div class="header">
    <h2> Books of the Week</h2>
    </div>
    <div class="cards">
      <div class="card-category">
        Book 1
      </div>

      <div class="card-category">
       Book 2
      </div>
      <div class="card-category">
       Book 3
      </div>
    </div>
