.cards-wrapper {
  margin: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  width: 500px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 0.8;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.general-info-and-button {
  display: flex;
  justify-content: space-between;
}

.general-info-btn {
  align-self: flex-end;

  a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    background-color: black;
    padding: 5px 10px;
    border-radius: 3px;
  }
}

// .card-category {
//   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg";
// }
